<div class="container">
    <form #myForm="ngForm" (ngSubmit)="onSubmit()">
        <h3>signin here</h3>
        <div class="form-group">
          <span>Email</span>
          <input type="email" id="email" name="email" class="form-control" ngModel [(ngModel)]="data.email"  required email>
        </div>
      
        <div class="form-group">
          <span>Password</span>
          <input type="password" id="password" name="password" class="form-control" ngModel [(ngModel)]="data.password"  required>
        </div>
      
        <button type="submit" class="btn btn-primary">Submit</button>
        <span *ngIf="type=='user'"><span></span><a routerLink="/forgot_password">Reset password here</a></span><br>
       <hr>
        <!-- <span id="or">OR</span>
        <span *ngIf="type=='admin'">      
  <img src="../../assets/icons/linkedin.jpg" (click)="onLinkedInwitthOauth()" height="90px" width="285px">
  <img src="../../assets/icons/facebook.jpg" (click)="signInWithFB()" height="90px" width="285px">
  </span> -->
<!-- 
  <span *ngIf="type=='user'">
    <span id="gbtn">
      <div id="g_id_onload"
      data-client_id="720823424643-3glsvtan3ru05tg5u7tph2tkcimc919p.apps.googleusercontent.com"
      data-context="signin"
      data-ux_mode="popup"
      data-login_uri="http://localhost:4100/admin/log_in/gi"
      data-itp_support="true">
    </div> 
    <div class="g_id_signin"
      data-type="standard"
      data-shape="rectangular"
      data-theme="filled_blue"
      data-text="signin_with"
      data-size="large"
      data-logo_alignment="left">
    </div>
    </span>
  </span> --> 
 </form>
      
    