.sidebar-menu {
    list-style-type: none;
    padding: auto;
    font-weight: bold;
  }
  .sidebar-menu li a {
    text-decoration: none;
    display: block;
    font-size: 20px;
    padding-top: 8px;
  }
  h3{
    color: red;
    /* background-color: gray;
    text-align: center; */
  }
.container{
  display: inline-flex;
  height: 75%;
  width: 80vw;
  margin-left: 0px;
  border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
  #outlet{
    height: 100%;
    width:900px;
    background-color: rgb(130, 230, 180);
  }

  .sidebar{
    display: flex;
    width: auto;
    height: 100%;
    background-color:rgb(119, 116, 116)
  }