<div class="container">
        <div class="sidebar">
           
            <ul class="sidebar-menu">
                <h3>Wellcome to Admin Page</h3>
                <li><a routerLink="services" appClicked>Employee Services</a></li>
                <li><a routerLink="add_admin" appClicked>Add Admin</a></li>
                <li><a routerLink="salary" appClicked>Employee Salary Report</a></li>
                <li><a routerLink="change" appClicked>Change Password</a></li>
            </ul>   
        </div>
        <div id =outlet>
         <router-outlet></router-outlet>
        </div>
</div>

