<div class="container">
    <h2>Password Change</h2>
    <form #myForm>
      <!-- <div class="form-group">
        <label>Email:</label>
        <input type="email" name="email"  [(ngModel)]="data.email">
      </div> -->
      <div class="form-group">
        <label>Old Password:</label>
        <input type="password" name="old"  [(ngModel)]="data.oldPassword">
      </div>
      <div class="form-group">
        <label>New Password:</label>
        <input type="password" name="new" [(ngModel)]="data.newPassword">
      </div>
      <div class="form-group">
        <button (click)="changePassword()">Change Password</button>
      </div>
      <h5>*{{message}}</h5>
    </form>
  </div>
  

